/* =======================================
RESET
======================================= */

*{

margin:0;

padding:0;

box-sizing:border-box;

}

html{

scroll-behavior:smooth;

}

body{

font-family:"Poppins",sans-serif;

background:#090909;

color:#fff;

overflow-x:hidden;

}

/* =======================================
LOADER
======================================= */

#loader{

position:fixed;

inset:0;

background:#090909;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

z-index:99999;

transition:.7s;

}

.loader-logo{

font-size:55px;

font-weight:800;

letter-spacing:2px;

}

.loader-logo span{

color:#f8b400;

}

.loader-bar{

width:220px;

height:5px;

background:#222;

border-radius:20px;

margin-top:30px;

overflow:hidden;

}

.loader-progress{

width:0;

height:100%;

background:#f8b400;

animation:loading 2s forwards;

}

@keyframes loading{

100%{

width:100%;

}

}

/* =======================================
CURSOR
======================================= */

.cursor{

width:14px;

height:14px;

background:#f8b400;

border-radius:50%;

position:fixed;

pointer-events:none;

z-index:999999;

transform:translate(-50%,-50%);

}

.cursor-blur{

width:45px;

height:45px;

background:#f8b40055;

filter:blur(18px);

border-radius:50%;

position:fixed;

pointer-events:none;

transform:translate(-50%,-50%);

z-index:999998;

}

/* =======================================
TOP PROGRESS
======================================= */

.progress-bar-top{

position:fixed;

top:0;

left:0;

height:4px;

width:0;

background:#f8b400;

z-index:999999;

}

/* =======================================
BACKGROUND
======================================= */

.background{

position:fixed;

inset:0;

overflow:hidden;

z-index:-2;

}

.background span{

position:absolute;

border-radius:50%;

filter:blur(100px);

animation:float 18s infinite ease-in-out;

}

.background span:nth-child(1){

width:350px;

height:350px;

background:#f8b40033;

top:-80px;

left:-100px;

}

.background span:nth-child(2){

width:450px;

height:450px;

background:#ffffff08;

right:-150px;

top:120px;

}

.background span:nth-child(3){

width:300px;

height:300px;

background:#f8b40022;

bottom:-80px;

left:35%;

}

.background span:nth-child(4){

width:240px;

height:240px;

background:#ffffff06;

right:15%;

bottom:120px;

}

.background span:nth-child(5){

width:180px;

height:180px;

background:#f8b40018;

top:40%;

left:60%;

}

@keyframes float{

50%{

transform:translateY(-40px) translateX(20px);

}

}